@charset "UTF-8";


.wrapper_camp{
  width: 90%;
  margin: 0 auto;
  padding: 70px 0;
}

.wrapper_camp p{
  margin: 0 0 15px 0;
  font-size: 12px;
  text-align: right;
  
}


.img_1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.img_1 .img{
  width: 47%;
  box-shadow: 0 10px 25px 0 rgba(151, 150, 147, 0.1);
  margin-bottom: 5%;
  object-fit: cover;
}

.img_1 .img:last-child{
  margin-bottom: 0;
}

@media(max-width:960px){
  .img_1,
  .img_2{
    display: block;
    width: 100%;
  }
  .img_1 .img,
  .img_2 .img{
    width: 100%;
    margin-bottom: 50px;
  }
}